@import "tailwindcss";
@font-face {
  font-family: primary-font;
  src: url(../src/assets/Fonts/IBMPlexSans_Condensed-Regular.ttf);
}

@theme {
  --font-primary-font: primary-font, "sans-serif";
}




*::selection{
  color: white;
  background-color: black;
}